

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  color: black;
}



a {
  text-decoration: none;
  color: black;
  ;
}

body {
  background: #121212;
}

.container {
  margin: 0px 40px;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 30px;
}

.movie-card {
  width: 300px;
  margin: 10px;
  padding: 10px;
  border: 1px solid red;
  border-radius: 4px;
  text-align: center;
}

.movie-card img {
  max-width: 100%;
  //height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: black;
}

.list{
  background-color: aqua;
}
.details {
  // width: 90%;
  background-color: blueviolet;
}

.view{
  font-weight: 900;
  color: black;
}
.header {

  background-color: navy;
  color: white;
  height: 72px;
  padding: 0px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}


.search {
text-align: center;
  padding: 1rem;
  margin-top: 2rem;

}

.fa-solid {
  color: black;
}

input {
  color: black;
  margin: 2px;
  height: 60px;
  background: white;
  width: 350px;
  border-radius: 10px;
}

.btn{
  height:60px;
  width: 100px;
  margin-left: 10px;
}

.logo {

  color: #ffffff;

  font-size: 20px;

  font-weight: 600;

}

.remove {
  color: red;
  float: right;
  font-size: 18px;
}




.user-image,
.user-image img {

  width: 38px;

  height: 38px;

}

.ui.small.modal {
  top: 20%;
  left: 20%;
  height: 50%;
  width: 50%;
}

.ui.modal>.close {
  color: black;
}